/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@600&display=swap');

body{
  background-color: #FAFAFA;
}

.main-container{
  padding: 2rem 8rem;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.title{
  font-family: 'PT Serif', serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #000000;
}

.about-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
}

.about-details{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #000000;
  width: 50%;
}

/*fieldset*/

.group-container{
  display: grid;
  gap: 5rem;
  align-items: center;
  width: 400px;
  height: 100%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  margin-bottom: 10rem;
}

fieldset {
  box-sizing: border-box;
  border: transparent;
  width: inherit;
}

legend.group-names{
  transform: rotate(90deg);
  height: 300px;
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: #000000;
}

legend.group-occupation{
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000000;
}

fieldset:nth-of-type(1), fieldset:nth-of-type(3), fieldset:nth-of-type(5), fieldset:nth-of-type(7), fieldset:nth-of-type(9), fieldset:nth-of-type(11){
  transform: rotate(90deg);
  height: 500px;
  width: 100%;
}

fieldset:nth-of-type(2), fieldset:nth-of-type(4), fieldset:nth-of-type(6), fieldset:nth-of-type(8), fieldset:nth-of-type(10), fieldset:nth-of-type(12){
  transform: rotate(270deg);
}

.profile-imgs {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.Bill{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.Skylah{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.Saba{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 15rem;
}

.Griff{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 15rem;
}

.Shae{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.Stan{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.footer-container{
  text-align: center;
  width: 287px;
  height: 20px;
  margin: 0 auto;
}

.footer-details{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #BDBDBD;
  font-size: 0.875rem;
}

@media only screen and (max-width: 500px){
  *{
    overflow-x: hidden;
  }
  
  .main-container{
    padding: 0;
  }
  
  .header-container{
    flex-direction: column;
    width: 100%;
  }
  
  .about-details{
    width: 100%;
  }
  
  .profile-imgs {
    transform: rotate(0deg);
    width: 100%;
    height: auto;
  }
  
  legend.group-names{
    width: 100%;
  }
  
  .group-container{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    width: 100%;
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 0;
  }
  
  fieldset:nth-of-type(1), fieldset:nth-of-type(3), fieldset:nth-of-type(5), fieldset:nth-of-type(7), fieldset:nth-of-type(9), fieldset:nth-of-type(11) {
    transform: rotate(0deg);
    height: 80%;
  }
  
  fieldset:nth-of-type(2), fieldset:nth-of-type(4), fieldset:nth-of-type(6), fieldset:nth-of-type(8), fieldset:nth-of-type(10), fieldset:nth-of-type(12) {
    height: auto;
  }
  
  .Bill{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.Skylah{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 15rem;
}

.Saba{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 15rem;
}

.Griff{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-top: 0;
}

.Shae{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.Stan{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-top: 15rem;
}
}
  
  

